.album_style_content {
	margin: 0 auto;
	font-size: 14px;
}

.back_to_main {
		font-size: 12px;
		text-align: center;
		border-top: 1px solid;
		border-top-color: grey;
		display: inline-block;

		&:visited {
				color: RoyalBlue;
		}

		&:hover {
				background-color: lightgrey;
				color: black;
				text-decoration: none;
		}

}

div li {
		text-align: left;
		margin: 0 auto;
		color: black;
}

@media (min-width: 300px) {
		.album_style_content {
				/** background: yellow; **/
				width: 200px;
		}

		.back_to_main {
				width: 200px;
		}
}

@media (max-width: 299px) {
		.album_style_content {
				/** background: orange; **/
				width: 150px;
				font-size: 12px;
		}

		ol {
				/* margin-left: 0; */
				padding-left: 25px;
		}

		.back_to_main {
				width: 150px;
		}
}
