$color1: RoyalBlue;
$color2: green;
$color3: pink;
$color4: red;
$color5: yellow;
$color6: orange;
$color7: DarkOrchid;

.caption {
  /** background: blue; **/
  width: 150px;
  text-align: left;
}

@media (min-width: 750px) {
		body {
				/** background: $color1; **/
				margin: 0 auto;
		}

		.column {
	    float: left;
	    width: 50%;
	  }


		#album_col_1 {
				/** background: $color4; **/
		}

		#album_col_2 {
				/** background: $color5; **/

		}

		img {
				width: 200px;
				height: 200px;
		}

	  .img1 {
	    	float: right;
	  }

	  .img2 {
	    	float: left;
	  }
}

@media (max-width: 749px) {
		body {
				/** background: $color2; **/
				margin: 0 auto;
	}

		.column {
	    width: 100%;
	    padding: 0px;
	    border: 0px;
	  }

		#album_col_1 {
				/** background: Aqua; **/
		}

		#album_col_2 {
				/** background: Azure; **/

		}

		img {
				width: 150px;
				height: 150px;
		}

		.img1 {
	      text-align: center;
	  }

	  .img2 {
	      text-align: center;
	  }

		.caption {
				margin: 0 auto;
		}

}

img:hover {
		border-style: outset;
		border-color: lightgrey;
		border-width: thin;
}

h2 {
		width: 100%;
		background: lightgrey;
		color: grey;
		font-size: 16px;
		line-height: 110%;
		padding-left: 15px;
		margin-top: 15px;
		margin-bottom: 1px;
		margin-right: 0px;
}

table {
		/** background: $color7; **/
		font-size: 14px;
		width: 100%;

		th, td {
				 border-bottom: 1px solid;
				 padding-left: 15px;
		}
		.role_style {
				color: grey;
		}
}

button {
		font-size: 12px;
		display: block;
		margin: auto;
}

.button_link {

		&:visited {
				color: darkgrey;
		}

		&:link {
				color: darkgrey;
				text-decoration: none;
		}

		/* mouse over link */
		&:hover {
				color: darkgrey;
				text-decoration: none;
		}

		/* selected link */
		&:active {
				color: darkgrey;
		}
}
