$content_width: 450px;

.home_style_content {
		max-width: $content_width;
		margin: 0 auto;

		h2 {
				background: lightgrey;
				color: grey;
				font-size: 16px;
				line-height: 110%;
				padding-left: 15px;
				margin-top: 1px;
				margin-bottom: 1px;
		}

		table {
				width: $content_width;
				font-size: 14px;
				th, td {
						 border-bottom: 1px solid;
						 padding-left: 15px;
				}
				.role_style {
						color: grey;
				}
		}

		img {
				width: 200px;
				height: 200px;
		}

		img:hover {
				border-style: outset;
				border-color: lightgrey;
				border-width: thin;
		}

		button {
				font-size: 0.8em;
				display: block;
				margin: auto;
		}

}

.button_link {

		&:visited {
				color: darkgrey;
		}

		&:link {
				color: darkgrey;
				text-decoration: none;
		}

		/* mouse over link */
		&:hover {
				color: darkgrey;
				text-decoration: none;
		}

		/* selected link */
		&:active {
				color: darkgrey;
		}
}
